apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
spec:
  project: chat-app
  source:
    chart: loki
    repoURL: https://grafana.github.io/helm-charts
    targetRevision: 5.0.0
    helm:
      values: |
        deploymentMode: SingleBinary
        singleBinary:
          replicas: 1
          persistence:
            enabled: true
            size: 10Gi
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
        loki:
          auth_enabled: false
          commonConfig:
            replication_factor: 1
            path_prefix: /var/loki
          storage:
            type: filesystem
          schemaConfig:
            configs:
              - from: "2020-10-24"
                store: tsdb
                object_store: filesystem
                schema: v13
                index:
                  prefix: index_
                  period: 24h
          limits_config:
            retention_period: 744h
            reject_old_samples: true
            reject_old_samples_max_age: 168h
          compactor:
            retention_enabled: true
        backend:
          replicas: 0
        read:
          replicas: 0
        write:
          replicas: 0
        gateway:
          enabled: false
        test:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
