apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: minio
  namespace: argocd
spec:
  project: chat-app
  source:
    chart: minio
    repoURL: https://charts.min.io/
    targetRevision: 5.0.0
    helm:
      values: |
        mode: standalone
        rootUser: rustfsadmin
        rootPassword: rustfsadmin
        persistence:
          enabled: true
          size: 10Gi
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
        consoleService:
          type: ClusterIP
        buckets:
          - name: chat-app-bucket
            policy: download
            purge: false
        serviceAccount:
          create: true
  destination:
    server: https://kubernetes.default.svc
    namespace: storage
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
