apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres
  namespace: argocd
spec:
  project: chat-app
  source:
    chart: postgresql
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 12.1.0
    helm:
      values: |
        fullnameOverride: postgres
        auth:
          database: chat_app
          username: user
          password: password
        primary:
          persistence:
            enabled: true
            size: 10Gi
          extendedConfiguration: |
            listen_addresses = '*'
            shared_preload_libraries = 'pg_stat_statements'
            pg_stat_statements.max = 10000
            pg_stat_statements.track = all
            max_connections = 5000
          resources:
            requests:
              cpu: 1000m
              memory: 1000Mi
            limits:
              cpu: 2000m
              memory: 2Gi
        metrics:
          enabled: true
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
