apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  replicas: 3
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: ghcr.io/nomanoma121/chat-app-api-gateway:v25.12.31@sha256:13d743d2cba8b2a01eb6b38b5e564d8fd50206f6b3a55119ef20c04353695905
          ports:
            - containerPort: 8000
              name: http
            - containerPort: 6060
              name: pprof
            - containerPort: 2112
              name: metrics
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
    - name: pprof
      protocol: TCP
      port: 6060
      targetPort: 6060
    - name: metrics
      protocol: TCP
      port: 2112
      targetPort: 2112
