apiVersion: apps/v1
kind: Deployment
metadata:
  name: message
  labels:
    app: message
spec:
  replicas: 3
  selector:
    matchLabels:
      app: message
  template:
    metadata:
      labels:
        app: message
    spec:
      containers:
        - name: message
          image: ghcr.io/nomanoma121/chat-app-message:v25.12.31@sha256:eb443f98ce984816676b8a4363456da63b274b85590aff68e5f8a5879ec73631
          ports:
            - containerPort: 50053
              name: grpc
            - containerPort: 6060
              name: pprof
            - containerPort: 2112
              name: metrics
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: message
spec:
  selector:
    app: message
  ports:
    - name: grpc
      protocol: TCP
      port: 50053
      targetPort: 50053
    - name: pprof
      protocol: TCP
      port: 6060
      targetPort: 6060
    - name: metrics
      protocol: TCP
      port: 2112
      targetPort: 2112
