apiVersion: apps/v1
kind: Deployment
metadata:
  name: realtime
  labels:
    app: realtime
spec:
  replicas: 2
  selector:
    matchLabels:
      app: realtime
  template:
    metadata:
      labels:
        app: realtime
    spec:
      containers:
        - name: realtime
          image: ghcr.io/nomanoma121/chat-app-realtime:v25.12.31@sha256:352185ba29866bdb4dd4b37b706ae7a4ae5365c903c512dfc346fac9887f6f48
          ports:
            - containerPort: 50054
              name: websocket
            - containerPort: 6060
              name: pprof
            - containerPort: 2112
              name: metrics
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: realtime
spec:
  type: NodePort
  selector:
    app: realtime
  ports:
    - name: websocket
      protocol: TCP
      port: 50054
      targetPort: 50054
      nodePort: 30054
    - name: pprof
      protocol: TCP
      port: 6060
      targetPort: 6060
    - name: metrics
      protocol: TCP
      port: 2112
      targetPort: 2112
