controller:
  type: daemonset

alloy:
  configMap:
    create: false
    name: alloy-config
    key: config.alloy

rbac:
  create: true

serviceAccount:
  create: true

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi
