deploymentMode: SingleBinary

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1
    path_prefix: /var/loki

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: "2020-10-24"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  limits_config:
    retention_period: 744h
    reject_old_samples: true
    reject_old_samples_max_age: 168h
    allow_structured_metadata: false

  compactor:
    retention_enabled: true
    delete_request_store: filesystem

backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

gateway:
  enabled: false

test:
  enabled: false
