mode: standalone

existingSecret: minio-secret

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

service:
  type: NodePort
  nodePort: 30090

consoleService:
  type: NodePort
  nodePort: 30091

buckets:
  - name: chat-app-bucket
    policy: download
    purge: false

policies:
  - name: chat-app-bucket-policy
    statements:
      - resources:
          - "arn:aws:s3:::chat-app-bucket/*"
        actions:
          - "s3:GetObject"
        effect: "Allow"
        principal:
          AWS:
            - "*"

serviceAccount:
  create: true
