name: Release

on:
  push:
    branches:
      - main

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      sha_tag: ${{ steps.meta.outputs.SHA_TAG }}
    steps:
      - name: Set tags
        id: meta
        run: |
          SHA_TAG=${GITHUB_SHA::12}
          echo "SHA_TAG=$SHA_TAG" >> $GITHUB_OUTPUT

  build-frontend:
    needs: prepare
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.build-frontend.outputs.digest }}
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Buildx setup
        uses: docker/setup-buildx-action@v3

      - name: Build & Push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./client
          build-args: |
            VITE_API_BASE_URL=${{ vars.API_BASE_URL }}
            VITE_CLIENT_BASE_URL=${{ vars.CLIENT_BASE_URL }}
            VITE_WS_BASE_URL=${{ vars.WS_BASE_URL }}
            VITE_MEDIA_BASE_URL=${{ vars.MEDIA_BASE_URL }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.APP }}-frontend:latest
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.APP }}-frontend:${{ needs.prepare.outputs.sha_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-backend:
    needs: prepare
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.build-backend.outputs.digest }}
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        service: [user, guild, message, realtime, media, api-gateway]
    steps:
      - uses: actions/checkout@v6

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Buildx setup
        uses: docker/setup-buildx-action@v3

      - name: Build & Push ${{ matrix.service }}
        uses: docker/build-push-action@v6
        with:
          context: ./server
          build-args: |
            SERVICE_NAME=${{ matrix.service }}
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.APP }}-${{ matrix.service }}:latest
            ${{ env.REGISTRY }}/${{ env.ORG }}/${{ env.APP }}-${{ matrix.service }}:${{ needs.prepare.outputs.sha_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  
  update-image:
    needs: [build-frontend, build-backend]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Update version file
        run: |
          echo "${{ needs.prepare.outputs.sha_tag }}" > VERSION

  create-release-pr:
    needs: [build-frontend, build-backend]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:

      - name: Create Release Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "Release ${{ needs.prepare.outputs.sha_tag }}"
          branch: "release-${{ needs.prepare.outputs.sha_tag }}"
          title: "Release ${{ needs.prepare.outputs.sha_tag }}"
          body: "This PR prepares the release for commit ${{ needs.prepare.outputs.sha_tag }}."
          labels: release



